@import "../../variables/var";

.work-detail {
    color: white;
    margin-top: 0;
    padding: 0;

    >h1 {
        font-size: 20rem;
        text-align: center;
    }

    .sd-container-1 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-top: .5px solid $dark-gray;

        .sd-left {
            width: 100%;
            font-size: 5rem;
            font-weight: 300;
            padding: 2rem 2rem;
        }

        .sd-right {
            border-top: .5px solid $dark-gray;
            width: 100%;
            text-align: right;
            font-size: 3.5rem;
            font-weight: 300;
            padding: 1rem 2rem;

            a {
                text-decoration: none;
                color: white;
                cursor: crosshair;

                &:hover {
                    text-decoration: underline;
                }
            }
        }


        @media (min-width: 768px) {

            .sd-left {
                font-size: 10rem;
                width: 75%;
                border-right: .5px solid $dark-gray;

            }

            .sd-right {
                border-top: 0;
                font-size: 5rem;
                width: 25%;
            }

        }
    }

    .sd-container-2 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-top: .5px solid $dark-gray;
        border-bottom: .5px solid $dark-gray;

        .sd-left {
            width: 100%;
            font-size: 1.4rem;
            font-weight: 300;
            padding: 2rem 2rem;
        }

        .sd-right {
            display: flex;
            justify-content: space-evenly;
            line-height: 1.7;
            padding: 2rem 0;
            width: 100%;
            .sdr-left {
                width: 50%;
                text-align: left;
                font-size: 1.4rem;
                font-weight: 500;
                padding-left: 2rem;

            }

            .sdr-right {
                width: 50%;
                text-align: left;
                font-size: 1.4rem;
                font-weight: 300;
                padding-right: 2rem;

                .sdr-cate {
                    text-decoration: underline;
                    cursor: crosshair;
                }
            }
        }



        @media (min-width: 768px) {

            .sd-left {
                width: 50%;

            }

            .sd-right {
                border-left: .5px solid $dark-gray;
                border-top: 0;
                width: 50%;
            }

        }
    }

    .sd-images {
        width: 78%;
        margin: 0 auto;

        img {
            width: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        >h1 {
            font-size: 5rem;
            padding-bottom: 3rem;
        }

    }
}