@import "../variables/var";

.sw-h2{
    font-size: 12rem;
    font-family: Khteka Light, sans-serif;
    font-weight: 500;
    color: $bgcolor;
    background: $color;
    padding: 2rem;
    @media screen and (max-width: 768px) {
        font-size: 4rem;
        
    }
}

.work-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 7rem 0;
    gap: 6rem;
}